<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYPZdqZ_8_C3CfkzbIzXW-DPgQhR0mG_s</string>
	<key>GCM_SENDER_ID</key>
	<string>736305070285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matchhouseFlutter</string>
	<key>PROJECT_ID</key>
	<string>colaboraplus-bd22c</string>
	<key>STORAGE_BUCKET</key>
	<string>colaboraplus-bd22c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736305070285:ios:f7a88dff498e75d88a6984</string>
</dict>
</plist>